# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Diagnostics
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm
.pnpm-store

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Build folders
dist/
dist-ssr/
build/
out/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*

# Allow .env.example
!.env.example

# Frameworks & Tooling
.next/
.turbo/
*.tsbuildinfo
.vite/
